Repository apella1/next-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revert next config
  app/posts/deploying-django-apps-on-heroku/page.mdx
  app/posts/layout.tsx
  components/mdx-wrapper.tsx
  next.config.ts
Due: eslint --fix, prettier --write

fix: move mdx components to the root of the project
  mdx-components.tsx
Due: eslint --fix, prettier --write

feat: update posts layout
  app/posts/layout.tsx
  next.config.ts
Due: eslint --fix, prettier --write

feat: blog set up configured well
  app/posts/deploying-django-apps-on-heroku/page.mdx
Due: none

feat: update recent posts
  app/blog/page.tsx
  components/blog/post-card.tsx
  components/home/recent-posts.tsx
Due: eslint --fix, prettier --write

feat: configure supabase project bucket
  components/home/home-header.tsx
  data/experience.ts
  data/projects.ts
  next.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: update project card && home header
  components/home/home-header.tsx
  components/projects/project-card.tsx
  data/projects.ts
Due: eslint --fix, prettier --write

feat: update favicon
  app/favicon.ico
Due: none

feat: add inventory management to projects list
  data/projects.ts
  public/projects/inv-dashboard.png
  public/projects/zima.png
Due: eslint --fix, prettier --write

feat: update published date -> date published
  components/blog/post-card.tsx
Due: eslint --fix, prettier --write

feat: update home header content
  components/home/home-header.tsx
Due: eslint --fix, prettier --write

feat: set up article structure
  app/posts/deploying-django-apps-on-heroku/page.mdx
  app/posts/deploying-spring-boot-apps-on-cloud-run/page.mdx
  app/posts/layout.tsx
  mdx-components.tsx
Due: eslint --fix, prettier --write

feat: set up syntax highlighting
  app/posts/_template/page.mdx
  app/posts/deploying-spring-boot-apps-on-cloud-run/page.mdx
  components/blog/code-block.tsx
  components/blog/table-of-contents.tsx
  mdx-components.tsx
  next.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add smooth scroll to table of contents
  app/posts/deploying-spring-boot-apps-on-cloud-run/page.mdx
  components/blog/smooth-scroll.tsx
Due: eslint --fix, prettier --write

feat: remove placeholder post
  app/posts/deploying-django-apps-on-heroku/page.mdx
  components/navbar.tsx
Due: eslint --fix, prettier --write

feat: first rebrand draft
  app/about/page.tsx
  app/api/labs/route.ts
  app/labs/[slug]/layout.tsx
  app/labs/page.tsx
  app/labs/sample-lab/page.mdx
  app/layout.tsx
  app/page.tsx
  app/sitemap.ts
  app/wakatime-stats/page.tsx
  components/about/wakatime.tsx
  components/footer.tsx
  components/home/faq.tsx
  components/home/home-header.tsx
  components/home/how-labs-works.tsx
  components/home/labs-teaser.tsx
  components/home/value-props.tsx
  components/labs/lab-card.tsx
  components/mdx/mdx-client.tsx
  components/navbar.tsx
  components/ui/accordion.tsx
  components/ui/tabs.tsx
  mdx-components.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  types/lab.ts
  utils/labs.ts
Due: eslint --fix, prettier --write

feat: set up rebrand
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

feat: enable static files output
  app/api/labs/route.ts
  app/api/posts/route.ts
  app/blog/blog-client.tsx
  app/blog/page.tsx
  app/labs/labs-client.tsx
  app/labs/page.tsx
  app/sitemap.ts
  next.config.ts
Due: eslint --fix, prettier --write

feat: add github actions deployment job
  .github/workflows/deploy.yml
  pnpm-lock.yaml
Due: none

fix: update about page
  app/about/page.tsx
  components/about/wakatime.tsx
Due: eslint --fix, prettier --write

fix: remove faq
  app/page.tsx
Due: eslint --fix, prettier --write

feat: update copy
  app/about/page.tsx
  components/about/wakatime.tsx
  components/home/home-header.tsx
  components/home/value-props.tsx
Due: eslint --fix, prettier --write

feat: add certifications
  app/about/page.tsx
  components/about/certifications.tsx
  data/certifications.ts
  public/certification-badges/associate-cloud-engineer-certification.png
  utils/types.ts
Due: eslint --fix, prettier --write

feat: remove issued date from certifications page
  components/about/certifications.tsx
  data/certifications.ts
Due: eslint --fix, prettier --write

fix: remove certs emoji
  components/about/certifications.tsx
Due: eslint --fix, prettier --write

fix: add recent labs
  app/page.tsx
  app/posts/getting-started-with-nextjs/page.mdx
  components/home/recent-labs.tsx
  components/home/recent-posts.tsx
Due: eslint --fix, prettier --write

feat: update causes I'm volunteering for
  app/about/page.tsx
Due: eslint --fix, prettier --write

feat: add email octopus form
  components/email-octopus-form.tsx
  components/footer.tsx
  components/home/home-header.tsx
Due: eslint --fix, prettier --write

feat: add email octopus footer form
  components/email-octopus-footer-form.tsx
  components/footer.tsx
  components/home/home-header.tsx
Due: eslint --fix, prettier --write

fix: update newsletter cta
  components/footer.tsx
Due: eslint --fix, prettier --write

feat: set up posthog
  .gitignore
  instrumentation-client.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: update lab frequency
  components/home/home-header.tsx
  components/home/value-props.tsx
Due: eslint --fix, prettier --write

draft: how i set up my newsletter
  app/posts/getting-started-with-nextjs/page.mdx
  app/posts/how-i-set-up-my-email-newsletter/page.mdx
  app/posts/layout.tsx
  components/footer.tsx
Due: eslint --fix, prettier --write

fix: enable mdx styling to pick up
  app/posts/layout.tsx
  next.config.ts
Due: eslint --fix, prettier --write

feat: update how i set up my email newsletter article.
  app/posts/how-i-set-up-my-email-newsletter/page.mdx
Due: none

feat: finish draft on how i set my email newsletter
  app/posts/how-i-set-up-my-email-newsletter/page.mdx
Due: none

feat: update dark theme
  app/globals.css
Due: prettier --write

fix: update dark mode highlights
  app/globals.css
  app/posts/how-i-set-up-my-email-newsletter/page.mdx
Due: prettier --write

fix: update anchor highlights for dark mode
  components/mdx/mdx-client.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{html,css,less,md})
